/*----------------------------------------------------

1. Global Area
2. Header Section
=====================================================================*/
/*=========
Font load
===========*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap");
/*=========
Color Code
===========*/
.poll-result-text a, .wrapper .poll-right-text button {
  display: block;
  height: 65px;
  width: 225px;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 23px;
  line-height: 65px;
  font-weight: 600;
  border-radius: 40px;
  background-image: linear-gradient(4deg, #60dca0 0%, #18c1b2 100%);
}

/*global area*/
/*----------------------------------------------------*/
body {
  margin: 0;
  padding: 100px 0px;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background: #f9f9f9;
  color: #2f3146;
  font-family: "Jost", sans-serif;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-image: url(../img/cbg.jpg);
  background-size: cover;
}

::selection {
  color: #fff;
  background-color: #78c68e;
}

::-moz-selection {
  color: #fff;
  background-color: #78c68e;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.form-control {
  box-shadow: none;
}

.dark-version {
  background-color: #20252d;
}
.dark-version .wrapper {
  background-color: #20252d;
}

p, label {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Jost", sans-serif;
}

.pt150 {
  padding-top: 150px;
}

.multisteps-form__panel[data-animation=scaleOut] {
  transform: scale(1.1);
}

.multisteps-form__panel[data-animation=scaleOut].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}

.multisteps-form__panel[data-animation=slideHorz] {
  left: -50px;
}

.multisteps-form__panel[data-animation=slideHorz].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}

.multisteps-form__panel[data-animation=slideVert] {
  top: 30px;
}

.multisteps-form__panel[data-animation=slideVert].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}

.multisteps-form__panel[data-animation=fadeIn].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.multisteps-form__panel[data-animation=scaleIn] {
  transform: scale(0.9);
}

.multisteps-form__panel[data-animation=scaleIn].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}

/* ==========================================================================
   multistep css
   ========================================================================== */
.multisteps-form__progress {
  padding-top: 60px;
  height: 100%;
}

.multisteps-form__panel {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  overflow: hidden;
  height: 0;
}
.multisteps-form__panel.js-active {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
}
.multisteps-form__panel[data-animation=scaleOut] {
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation=scaleOut].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}
.multisteps-form__panel[data-animation=slideHorz] {
  left: -50px;
}
.multisteps-form__panel[data-animation=slideHorz].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation=slideVert] {
  top: 30px;
}
.multisteps-form__panel[data-animation=slideVert].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation=fadeIn].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation=scaleIn] {
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation=scaleIn].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}

.actions {
  right: 0px;
  bottom: -125px;
  margin-bottom: 20px;
  position: absolute;
}
.actions li {
  height: 65px;
  width: 430px;
  color: #3c3c3c;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  line-height: 70px;
  margin-left: 15px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background-color: #fff;
  text-transform: uppercase;
}

/*---------------------------------------------------- */
/*Steps area*/
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*inner area*/
/*----------------------------------------------------*/
.wrapper {
  margin: 0 auto;
  max-width: 1420px;
  background-color: #fff;
}
.wrapper .poll-top-head {
  padding: 25px;
  background-color: #446d76;
}
.wrapper .poll-top-head h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.wrapper .poll-top-title {
  padding: 45px 0px 35px;
  background-image: linear-gradient(8deg, #60dca0 0%, #18c1b2 100%);
}
.wrapper .poll-top-title h2 {
  margin: 0 auto;
  color: #151515;
  font-size: 33px;
  max-width: 560px;
  font-weight: 600;
}
.wrapper .poll-content-img {
  z-index: 1;
  padding: 55px 80px;
  position: relative;
}
.wrapper .poll-content-img:before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  content: "";
  opacity: 0.4;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/pcbg.png);
}
.wrapper .poll-left-img {
  margin-right: 70px;
}
.wrapper .poll-right-text {
  width: 100%;
  max-width: 580px;
  display: inline-block;
}
.wrapper .poll-right-text button {
  color: #fff !important;
}
.wrapper .poll-progress-percent {
  margin-bottom: 45px;
}
.wrapper .poll-progress-percent label {
  margin-bottom: 15px;
}
.wrapper .poll-progress-percent label .exp-label {
  color: #446d76;
  font-size: 23px;
  font-weight: 600;
  padding-left: 50px;
}
.wrapper .poll-progress-percent label .checkmark-border:before, .wrapper .poll-progress-percent label .checkmark-border:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 4px;
  border: 2px solid #e3e3e3;
}
.wrapper .poll-progress-percent label .checkmark-border:after {
  display: none;
  background-color: #407bff;
  border: 2px solid #407bff;
}
.wrapper .poll-progress-percent label .exp-option-box {
  display: none;
}
.wrapper .poll-progress-percent label .exp-option-box:checked ~ .checkmark-border:after {
  display: block;
}
.wrapper .poll-progress-percent .progress {
  height: 18px;
  border-radius: 0;
  position: relative;
  overflow: visible;
  border-radius: 20px;
}
.wrapper .poll-progress-percent .progress span {
  right: -50px;
  top: 0;
  font-weight: 700;
  position: absolute;
  font-family: "Jost", sans-serif;
}
.wrapper .poll-progress-percent .progress-bar {
  width: 0;
  float: left;
  height: 100%;
  border-radius: 20px;
  position: relative;
  transition: 1s all ease-in-out;
  background-color: #99e870;
}
.wrapper .poll-progress-percent:nth-child(2) .progress-bar {
  background-color: #ff5f57;
}
.wrapper .poll-progress-percent:nth-child(3) .progress-bar {
  background-color: #ff994e;
}

.poll-result-circle-percent {
  padding: 50px;
  margin: 0px 90px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.poll-result-circle-percent .pr-value-text {
  left: 0;
  right: 0;
  top: 58%;
  color: #777777;
  font-size: 22px;
  position: absolute;
  text-align: center;
}
.poll-result-circle-percent:before {
  top: 90px;
  left: 90px;
  width: 60%;
  height: 60%;
  content: "";
  position: absolute;
  border-radius: 100%;
  border: 2px dashed #eeeeee;
}
.poll-result-circle-percent strong {
  left: 0;
  right: 0;
  top: 50%;
  color: #232323;
  font-size: 76px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
}

.poll-result-text {
  max-width: 430px;
  padding-top: 140px;
  display: inline-block;
}
.poll-result-text h3 {
  color: #232323;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.093;
  padding-bottom: 45px;
}
.poll-result-text a {
  color: #fff !important;
}
.poll-result-text a:hover {
  color: #fff;
}

.poll-thank-img {
  margin: 0 120px 0 50px;
}

.poll-thank-text {
  margin: 0 auto;
  max-width: 480px;
  padding-top: 80px;
  display: inline-block;
}
.poll-thank-text h3 {
  color: #4b4b4b;
  font-size: 50px;
  font-weight: 900;
}

/*---------------------------------------------------- */
/*Responsive area*/
/*----------------------------------------------------*/
/* ==================================================
*	01 - media screen and (max-width: 1440px)
*	02 - media screen and (max-width: 1280px)
*	03 - media screen and (max-width: 1199px)
*	04 - media screen and (max-width: 991px)
*	05 - media screen and (max-width: 767px)
*	06 - media screen and (max-width: 680px)
*	07 - media screen and (max-width: 580px)
*	08 - media screen and (max-width: 480px)
*	09 - media screen and (max-width: 380px)
*	10 - media screen and (max-width: 320px)
================================================== */
@media screen and (max-width: 1440px) {
  .wrapper .poll-right-text {
    max-width: 520px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper .poll-right-text {
    max-width: 420px;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper .poll-left-img {
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  body {
    padding: 0;
  }

  .progress_area canvas {
    height: 250px;
    width: 250px;
  }



  .poll-result-circle-percent {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .wrapper .poll-left-img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .wrapper .poll-content-img {
    padding: 30px 20px;
  }

  .wrapper .poll-progress-percent .progress span {
    right: 0;
  }

  .wrapper .poll-progress-percent label .exp-label {
    font-size: 18px;
  }

  .wrapper .poll-top-title h2 {
    font-size: 20px;
  }

  .poll-thank-text h3 {
    font-size: 30px;
  }

  .poll-thank-img {
    margin: 0;
  }

  .poll-result-circle-percent:before {
    display: none;
  }
}
/*---------------------------------------------------- */
